body {
	margin:auto;
}
header {
	background-image: url("Attachment-1.gif");
	color: #fff ;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
	letter-spacing: 5px;
	font-size: 40px;
	width: 960px;
}

#navi {
	background: black;
	color: white;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	height: 40px;
	width: 960px;
	font-size: 40px;
	letter-spacing: 5px;

}
#left {
	background-image: url("images.jpg");
	float: left;
	color: gold;
	font-size: 40px;
	letter-spacing: 5px;
	text-align: center;
	padding: 20px;
	height: 490px;
	width: 490px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#art {
	float: left;
	background: black;
	color: #fff;
	padding: 20px;
	margin-top: 100px;
	margin-right: 20px;
	height: 300px;
	width: 450px;

}

#h {
	background: white;
	margin-top: 40px;
	color: green;
	padding: 20px;
	height: 60px;
	width: 400px;
	font-size: 25px;
	text-align: center;
}

p {
	background: white;
	color: green;
	padding: 20px;
	height: 60px;
	font-size: 25px;
	width: 400px;
	text-align: center;
}

#aside {
	background: url("apollo.gif");
	border: 20px;
	border-color: grey;
	height: 490px;
	width: 410px;
	padding: 20px;
	float: left;
	clear: right;
	margin-bottom: 20px;

}

footer {
	background: url("Attachment-1.gif");	
	color: #fff ;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
	letter-spacing: 5px;
	font-size: 40px;
	width: 960px;
	height: 40px;
	clear: left;
	margin-top: 20px;

}